{% extends 'base.html' %}

{% block head %}
<title>Wheel tracker</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='images/Logo wheel.jpg') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_b.css') }}">
{% endblock %}

{% block body %}
<header class="hero">
    <nav class="nav container">
        <div class="nav__logo">
            <h2 class="nav__title">Wheel tracker</h2>
        </div>
        {% if g.user %}
            <p class="saludo">Hola, {{ g.user[5] }}!</p>
        {% endif %}
        <ul class="nav__link nav__link--menu">
            <li class="nav__items">
                <a href="{{ url_for('home') }}" class="nav__links">Home</a>
            </li>
            <li class="nav__items">
                <a class="nav__links">Busqueda</a>
            </li>
            <li class="nav__items" id="li_contacto">
                <a class="nav__links">Contacto</a>
            </li>
            {% if g.user %}
                <li class="nav__items" id="li_inicio-ses">
                    <a href="{{ url_for('cerrar_sesion') }}" class="nav__links">
                        Cerrar sesión
                    </a>
                </li>
            {% else %}
                <li class="nav__items" id="li_inicio-ses">
                    <a href="{{ url_for('iniciar_sesion') }}" class="nav__links">
                        Iniciar sesión
                    </a>
                </li>
            {% endif %}

            <img src="" class="nav__close" alt="">
        </ul>
    </nav>
</header>

<main>
    <div class="seccion-formulario">
        <div class="formulario">
            <label for="marca">Marca</label>
            <select name="marca_cb" id="marca_cb">
                {% for value in g.marcas %}
                    <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="formulario">
            <label for="modelo">Modelo</label>
            <select name="modelo" id="modelo_cb">
                {% for value in g.modelos %}
                    <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="formulario">
            <label for="anio">Año</label>
            <select name="ayno_cb" id="ayno_cb">
                {% for value in g.aynos %}
                    <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="formulario">
            <label for="filtro">Filtro</label>
            <select name="filtro" id="pref_cb">
                <option value="N/A">N/A</option>
                <option value="masEconomico">Más Económico</option>
                <option value="mejorCalidad">Mejor Calidad</option>
            </select>
        </div>
        <div class="formulario">
            <button id="botonBuscar" class="button">Buscar</button>
        </div>
    </div>

    <div class="resultados" id="resultados">
        <div class="resultado" style="background: #1E1E2A;position: absolute;left: calc(50% - 150px);">
            <div class="detalles" id="locLlanta">
                <p></p>
            </div>
        </div>
        <div class="resultados_contenido">
            <div class="resultado_lado" id="resultados_izq">

            </div>
            <div class="resultado_lado" id="resultados_der">
    
            </div>
        </div>
    </div>
</main>
<div class="popup" id="popupForm">
    <div class="popup-content">
        <span class="close" onclick="cerrarPopup()">&times;</span>
        <label class='popup-label'>¡Ayúdanos con una opinión!</label>
        <form id="comentForm">
            <textarea class = "popup-text" name="comentario" id="comentario" rows="6"></textarea>
            <label for="valoracion", class = "popup-label">Valoración:</label>
            <select name="valoracion" id="valoracion">
                <option value="5">5 - Excelente</option>
                <option value="4">4 - Bueno</option>
                <option value="3">3 - Regular</option>
                <option value="2">2 - Malo</option>
                <option value="1">1 - Muy malo</option>
            </select>
            <button type="submit">
                Enviar
            </button>
        </form>
    </div>
</div>
<footer class="footer">
    <section class="footer__container container">
        <div class="logofinal">
            <img src="./static/images/wheepequeño.jpg" alt="" class="footer__logofinal">
        </div>
      
    </section>

    <section id="contact-section" class="footer__copy container">
        <div class="footer__social">
            <a href="#" class="footer__icons"><img src="./static/images/facebookl.svg" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="./static/images/instagram.svg" class="footer__img"></a>
        </div>
        <div class="nombres">
            <p class="nombres">
                Juan Caballero,
                Santiago Donado,
                Julio Escobar,
                Jorge Valencia.
            </p>
        </div>
        <h3 class="footer__email"> trackerwheel&#64;gmail.com </h3>
        <h3 class="footer__copyright"> Derechos reservados &copy; Wheel tracker </h3>
    </section>
    {% if g.user %}
        {% if g.user[4] == 'A' %}
            <li class="nav__items">
                <a href="{{ url_for('administracion') }}"" class="adm__links">Administrar página</a>
            </li>
            <br></br>
        {% else %}
            <li class="nav__items">
                <a href="{{ url_for('historial') }}"" class="adm__links">Historial de consultas</a>
            </li>
            <br></br>
        {% endif %}
    {% endif %}
</footer>
<script src="./static/js/busqueda.js"></script>
{% endblock %}